[Unit]
Description= Run station open for %i
After=gdm.service

[Timer]
OnCalendar=Mon..Thu 17:45
OnCalendar=Fri..Sat 16:45
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target