[Unit]
Description=A notification window that the computer will soon close

[Service]
Type=simple
User=%i
Environment="DISPLAY=:0"
ExecStart=/usr/local/bin/station-notify.py station-close@%i.timer
Restart=no

[Install]
WantedBy=multi-user.target

