[Unit]
Description=Close computer station for %i
After=gdm.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/local/sbin/station close %i

[Install]
WantedBy=multi-user.target