[Unit]
Description=Trigger a systemd user service to start station notify countdown gui

[Service]
Type=simple
ExecStart=machinectl shell --uid=%i .host /usr/bin/systemctl --user start station-notify-user.service
Restart=no

[Install]
WantedBy=multi-user.target