[Unit]
Description= Run station close for %i
After=gdm.service

[Timer]
OnCalendar=Mon..Thu 11:25..34/1
OnCalendar=Fri..Sat 15:50..59/1
AccuracySec=1s

[Install]
WantedBy=timers.target
